/*
Mac Ferguson
sep26
version 9.26

*/
nav a{
	background-color:#546a7b;
	color:white;
	padding:8px;
	border:thin solid #0d1f2d;
	text-decoration:none;
	text-align:center;
	display:block;
	margin:20px;
	max-width:100px;
	float:left;
	}

nav a:visited{
	color:#e4c3ad;
}

nav a:hover{
	background-color:#0d1f2d;
	text-decoration:underline;
	}
	
nav a:active{
	font-weight:bold;
}
	
header{
	background-color:#0d1f2d;
	color:white;
	/*height:100px;*/
	text-align:center;
	padding:30px 10px 20px 10px;
	font-size:2.5em;
	}
footer{
	background-color:#0d1f2d;
	color:white;
	text-align:center;
	padding:30px 10px 20px 10px;
	height:100px;
	}

body{
	background-color:#fef9ff;
	/*color:white;*/
	font-family:arial, helvetica,sans-serif;
	max-width:900px;
	margin:0 auto;
	}
		
nav{
	border-top:3px dashed #0d1f2d;
	border-bottom:3px dashed #0d1f2d;
	margin-top:4px;
	margin-top:4px;
	}
	
article{
	margin-bottom:16px;
}
	
.clear-float{
	clear:both;
}
article img{
	float:left;
}

.right-content{
	float:left;
}